extend layout
block content
  h1 Champion <span class='accent'>Stats</span>
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium lorem et fringilla hendrerit.
    | Donec eget velit et enim dignissim ullamcorper. Mauris vitae auctor nibh. Aenean pellentesque
    | risus sit amet ipsum tempus, eget tristique odio condimentum. Suspendisse tincidunt fermentum
    | massa quis malesuada. Quisque vel lacus interdum erat pretium euismod.
block sidebar
  a(href="/tournaments") tournaments
  a(href="/tierlist") tier list
  a(href="/guides") guides
  a(href="javascript:void(0)").selected champion stats
  a(href="/streams") streams
  a(href="/teams") top teams
block content
