extend layouthome
block content
  h1 Introducing <span class='accent'>Competitve Twisted Treeline</span>
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium lorem et fringilla hendrerit.
    | Donec eget velit et enim dignissim ullamcorper. Mauris vitae auctor nibh. Aenean pellentesque
    | risus sit amet ipsum tempus, eget tristique odio condimentum. Suspendisse tincidunt fermentum
    | massa quis malesuada. Quisque vel lacus interdum erat pretium euismod.

  h3 Exhaustive Viewing - <span class='accent'>See every game</span>
  h3.right Showmatches & Invitationals - <span class='accent'>Watch the best teams</span>
  h3 Champion Stats - <span class='accent'>Find games with the champions YOU play</span>
block sidebar
  a(href="/tournaments") tournaments
  a(href="/tierlist") tier list
  a(href="/guides") guides
  a(href="/championstats") champion stats
  a(href="/registration") streams
  a(href="/teams") top teams