!!!5
html
  head
    title #{title} - Showdown in the Shadow Isles
    link(rel='stylesheet', href='/stylesheets/style.css')
  body   
    .container
      .bigspacer
      .sidebar
        block sidebar
      .main-content
        block content