extend layout
block content
  h1 Tier <span class='accent'>List</span>
  p(style='white-space:pre;')
    | Tier God : 
    | God AP : Cassiopeia, Singed
    | God Carry/Bruiser : Renekton, Tryndamere, Jayce
    | God Jungle : Jarvan IV, Trundle
    | God Hybrid : Kayle
    | God Support : Leona
    | 
    | Tier 1:
    | AP Carry : Rumble, Lissandra, Diana, Zyra, Annie, Kennen, LuLu, Karma
    | AD Carry/Bruiser : Kha'Zix, Wukong, Zed, Darius, Rengar, Vayne
    | Jungle : Nunu, Shyvana, Xin Zhao, Zac, Lee Sin, Elise
    | Hybrid : Jax
    | Support : Thresh, Blitzcrank, Nami
    | 
    | Tier 2: 
    | AP Carry : Malphite, Orianna, Ryze, Fizz, Gragas, Katarina, Nidalee, Evelynn, Kassadin, Cho'Gath, Ahri
    | AD Carry/Bruiser : Skarner, Fiora, Ezreal, Gangplank, Warwick, Yorick, Olaf, Garen, Quinn, Pantheon, Irelia, Aatrox, Master Yi
    | Jungle : Nocturne, Rammus, Sejuani, Udyr, Vi, Riven, Amumu, Hecarim, Nasus, Dr.Mundo
    | Hybrid : Poppy, Akali
    | Support : Janna
    | 
    | Tier 3: 
    | AP Carry : Swain, Galio, Ziggs, Malzahar, Lux, Morgana, Karthus, Soraka, Teemo, Syndra, Mordekaiser, Vladimir, LeBlanc, Brand
    | AD Carry/Bruiser : Graves, Miss Fortune, Corki, Caitlyn, Tristana, Shen, Draven
    | Jungle : Volibear, Maokai, Shaco, FiddleSticks
    | Hybrid : 
    | Support : Alistar 
    | 
    | Tier 4:
    | AP Carry : Anivia, Heimerdinger, Zilean, Veigar, Viktor, Twisted Fate, Xerath, Sion
    | AD Carry/Bruiser : Kog'Maw, Urgot, Sivir, Ashe, Twitch, Varus, Talon
    | Jungle : Nautilus
    | Hybrid : 
    | Support : Sona, Taric
block sidebar
  a(href="/tournaments") tournaments
  a(href="javascript:void(0)").selected tier list
  a(href="/guides") guides
  a(href="/championstats") champion stats
  a(href="/streams") streams
  a(href="/teams") top teams